.change-password-modal__form {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
}
.change-password-modal__wrapper {
  display: flex;
  flex-direction: column;
}
