.checkbox {
  margin-right: 15px;
  opacity: 0.2;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  &:hover ~ .checkbox__name {
    opacity: 0.6;
    cursor: pointer;
  }
  &:checked {
    opacity: 1;
  }
  &:checked ~ .checkbox__name {
    opacity: 1;
  }
}

.checkbox__name {
  font-size: 14px;
  opacity: 0.2;
  &:checked ~ .checkbox {
    opacity: 1;
  }
}
