.sign-in-modal__form {
  width: 370px;
}
.sign-in-modal__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.sign-in-modal__label {
  margin-bottom: 6px;
  font-size: 14px;
  & span {
    color: red;
  }
}
.sign-in-modal__field-wrapper {
  margin-bottom: 20px;
}
