.register-modal {
  background-color: white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.register-modal__form {
  padding: 40px;
  width: 680px;
  height: 533px;
  border: 3px solid;
  position: relative;
}

.register-modal__email-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
// .register-modal__email,
// .register-modal__name,
// .register-modal__surname,
// .register-modal__password,
// .register-modal__repeat,
// .register-modal__location,
// .register-modal__age{}
.register-modal__field {
  height: 50px;
}
.register-modal__name-surname-wrapper,
.register-modal__password-repeat-wrapper,
.register-modal__location-age-wrapper {
  display: flex;
  column-gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}
.register-modal__name-wrapper,
.register-modal__surname-wrapper,
.register-modal__password-wrapper,
.register-modal__repeat-wrapper,
.register-modal__location-wrapper,
.register-modal__age-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.register-modal__label {
  margin-bottom: 6px;
  font-size: 14px;
  & span {
    color: red;
  }
}
.register-modal__name-surname-wrapper,
.register-modal__password-repeat-wrapper,
.register-modal__location-age-wrapper {
  display: flex;
}

.register-modal__checkbox {
  display: flex;
  margin-bottom: 20px;
}

.register-active_js {
  opacity: 1;
}
@media (max-width: 480px) {
  .register-modal__form {
    border: none;
  }
}
@media (max-width: 480px) {
  .register-modal__form {
    border: none;
  }
}
