.register-modal__form {
  width: 680px;
}

.register-modal__email-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.register-modal__name-surname-wrapper,
.register-modal__password-repeat-wrapper,
.register-modal__location-age-wrapper {
  display: flex;
  column-gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.register-modal__name-surname-wrapper,
.register-modal__password-repeat-wrapper,
.register-modal__location-age-wrapper {
  display: flex;
}

.register-modal__checkbox {
  display: flex;
  margin-bottom: 20px;
  &:hover {
    opacity: 0.6;
  }
}
@media (min-width: 481px) and (max-width: 820px) {
  .register-modal__form {
    width: 80%;
  }
  .register-modal__field {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .register-modal__email-wrapper,
  .register-modal__name-surname-wrapper,
  .register-modal__password-repeat-wrapper,
  .register-modal__location-age-wrapper {
    flex-direction: column;
    margin-bottom: 0;
  }
  .register-modal__name-wrapper,
  .register-modal__surname-wrapper,
  .register-modal__password-wrapper,
  .register-modal__repeat-wrapper,
  .register-modal__location-wrapper,
  .register-modal__age-wrapper {
    margin-bottom: 20px;
  }
}
