.scroll-top {
  background-image: url("../img/icons/scroll-top.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  width: 62px;
  height: 62px;
  border: none;
  background-color: transparent;
  position: fixed;
  bottom: 30px;
  left: 10px;
}
