html {
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
p,
h1,
h2,
h3,
ul,
label {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
///////////////////////Шрифты/////////////////////////////////////////////////////////

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/gilroy/gilroy-bold.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy/gilroy-bold.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/gilroy/gilroy-bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/gilroy/gilroy-bold.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/gilroy/gilroy-bold.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/gilroy/gilroy-bold.svg#gilroy-bold") format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/gilroy/gilroy-medium.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy/gilroy-medium.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/gilroy/gilroy-medium.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/gilroy/gilroy-medium.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/gilroy/gilroy-medium.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/gilroy/gilroy-medium.svg#gilroy-medium") format("svg"); /* Chrome < 4, Legacy iOS */
}

.font-medium {
  font-family: "Gilroy-Medium", "Arial Black", sans-serif;
  font-size: 18px;
}
.font-bold {
  font-family: "Gilroy-Bold", "Arial Black", sans-serif;
  font-size: 18px;
}
///////////Заголовки///////
.section-title {
  font-size: 34px;
  line-height: 41px;
}

.main__title {
  font-size: 47px;
  line-height: 57px;
}

//////////////////////Цветной контейнер///////////////////////////////////////////////
.color-wrapper {
  background-color: #f6f6f6;
}

///////////////////////Loader//////////////////////////////////////////////
.loader {
  background-color: #00000050;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
}
