@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/page-container";
@import "_blocks/footer";
@import "_blocks/header";
@import "_blocks/scroll-top";
@import "_blocks/log-in";
@import "_blocks/register";
@import "_blocks/checkbox";
@import "_blocks/button";
@import "_blocks/send-message";
@import "_blocks/close-button";

/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

/*
  Код ниже нужно удалить, он добавлен просто для примера
  Не стал выносить в отдельный файл, но если бы блок coming-soon действительно был бы нужен,
  то он должен был бы быть в файле _blocks/coming-soon.scss
*/

////////////////Мобильное меню//////////////

.mobile-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  @media (min-width: 355px) {
    display: none;
  }
}
.mobile-menu__close {
  position: fixed;
  top: 50px;
  right: 13px;
  padding: 0;
  border: none;
  width: 25px;
  height: 25px;
  background: none;
  background-image: url("../img/icons/сlose-cross.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mobile-menu__nav {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.mobile-menu__link {
  text-decoration: none;
  text-align: right;
  color: black;
  font-size: 34px;
  line-height: 41px;
  opacity: 0.5;
  transition: all 400ms;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

///////////////////////////////////////////////////////////////////////////
////////////////////////////////////INDEX start////////////////////////////
///////////////////////////////////////////////////////////////////////////

///////////////////////////////Main////////////////////////////////////////
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 88px;
  padding: 40px 0 60px;
  row-gap: 36px;
  align-items: flex-end;
  @media (max-width: 355px) {
    margin-top: 0;
  }
}
.main__title {
  font-size: 47px;
  line-height: 57px;
  width: 200px;
}
.main__sandwich-button {
  @media (min-width: 355px) {
    display: none;
  }
}
.main__content-wrapper {
  display: flex;
  justify-self: start;
  column-gap: 43px;
}
.main__content {
  max-width: 250px;
}
.main__sandwich-button {
  background-image: url("../img/icons/sandwich.png");
  background-repeat: no-repeat;
  background-position: top;
  width: 32px;
  height: 30px;
  flex-shrink: 0;
  border: none;
  padding: 0;
  transition: all 400ms;
}
.main__picture {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.main__image {
  width: 100%;
  height: 100%;
}
.main__slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__spot-button {
  padding: 0;
  width: 10px;
  height: 10px;
  border-style: none;
  border-radius: 5px;
  background-color: black;
  opacity: 0.1;
}

///////////////////////////////About me////////////////////////////////////////

.about {
  padding: 60px 0;
  text-align: center;
}
.about__title {
  padding-bottom: 50px;
}
.about__cloud-section {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 650px;
  row-gap: 40px;
}
.about__cloud-message {
  border: solid 2.5px;
  padding: 15px;
  max-width: 500px;
}
.left-cloud-message,
.right-cloud-message {
  position: relative;
  &:before {
    border: 20px solid transparent;
    border-top-color: black;
    position: absolute;
    bottom: -41px;
    content: "";
  }
  &:after {
    border: 19px solid transparent;
    border-top-color: white;
    position: absolute;
    bottom: -37px;
    content: "";
  }
}
.left-cloud-message {
  position: relative;
  &:before {
    right: 25px;
  }
  &:after {
    right: 26px;
  }
}
.right-cloud-message {
  align-self: flex-end;
  position: relative;
  &:before {
    left: 25px;
  }
  &:after {
    left: 26px;
  }
}

/////////////////////////////////
@media (max-width: 680px) {
  .about__cloud-section {
    width: 100%;
  }
}
///////////////////////////////Skills////////////////////////////////////////
.skills {
  padding: 60px 0;
  text-align: center;
  align-content: center;
}
.skills__title {
  font-size: 34px;
  margin-bottom: 20px;
}
.skills__comment {
  font-size: 18px;
  margin-bottom: 50px;
}
.skills__rate-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  column-gap: 25px;
  row-gap: 40px;
  align-content: center;
}
.skills__rate-list-item {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills__progress-wrapper {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.skills__percent {
  font-weight: 14px;
  opacity: 0.5;
}
.skills__progress-bar {
  background-color: #e5e5e5;
  width: 142px;
  height: 9px;
  position: relative;
}
.skills__progress-bar-html,
.skills__progress-bar-css,
.skills__progress-bar-js,
.skills__progress-bar-git,
.skills__progress-bar-figma {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    background-color: black;
  }
}
.skills__progress-bar-html {
  &::after {
    width: 85%;
  }
}
.skills__progress-bar-css {
  &::after {
    width: 55%;
  }
}
.skills__progress-bar-js {
  &::after {
    width: 5%;
  }
}
.skills__progress-bar-git {
  &::after {
    width: 15%;
  }
}
.skills__progress-bar-figma {
  &::after {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .skills__rate-list-item {
    width: 147px;
  }
  .skills__progress-bar {
    background-color: #e5e5e5;
    width: 111px;
  }
  .skills__rate-list {
    column-gap: 20px;
  }
}
@media (max-width: 767px) {
  .skills__rate-list-item {
    width: 130px;
  }
  .skills__progress-bar {
    width: 94px;
  }
  .skills__rate-list {
    column-gap: 20px;
  }
}
///////////////////////////////Portfolio////////////////////////////////////////
.portfolio {
  padding: 60px 0;
  text-align: center;
  align-content: center;
  position: relative;
}
.portfolio__title {
  font-size: 34px;
  margin-bottom: 20px;
}
.portfolio__image {
  width: 100%;
  height: 100%;
}
.portfolio__description-wrapper {
  padding: 31px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  bottom: 0;
  transform: translate(0 -30%);
  left: 0;
  right: 0;
  background-color: black;
  z-index: 2;
  opacity: 0.8;
}
.portfolio__desription-title {
  color: white;
  text-decoration: underline dashed;
  text-underline-position: under;
  margin-bottom: 15px;
}
.portfolio__description-text {
  color: white;
  max-width: 400px;
  font-size: 14px;
  line-height: 16px;
}
///////////////////////////////////////////////////////////////////////////
////////////////////////////////////INDEX end////////////////////////////
///////////////////////////////////////////////////////////////////////////
