@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/page-container";
@import "_blocks/footer";
@import "_blocks/header";
@import "_blocks/scroll-top";
@import "_blocks/log-in";
@import "_blocks/register";
@import "_blocks/checkbox";
@import "_blocks/button";
@import "_blocks/send-message";
@import "_blocks/close-button";
@import "_blocks/change-password";
@import "_blocks/change-other";
@import "_blocks/modal";
@import "_blocks/slider";
@import "_blocks/modal-after";
@import "_blocks/sandwich-button";

/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

/*
  Код ниже нужно удалить, он добавлен просто для примера
  Не стал выносить в отдельный файл, но если бы блок coming-soon действительно был бы нужен,
  то он должен был бы быть в файле _blocks/coming-soon.scss
*/

////////////////Мобильное меню//////////////

.mobile-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  z-index: 20;
  @media (min-width: 355px) {
    display: none;
  }
}
.mobile-menu__close {
  position: fixed;
  top: 50px;
  right: 13px;
  padding: 0;
  border: none;
  width: 25px;
  height: 25px;
  background: none;
  background-image: url("../img/icons/сlose-cross.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mobile-menu__nav {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.mobile-menu__link {
  text-decoration: none;
  text-align: right;
  color: black;
  font-size: 34px;
  line-height: 41px;
  opacity: 0.5;
  transition: all 400ms;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

///////////////////////////////////////////////////////////////////////////
////////////////////////////////////INDEX start////////////////////////////
///////////////////////////////////////////////////////////////////////////

///////////////////////////////Main////////////////////////////////////////
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 88px;
  padding: 40px 0 60px;
  row-gap: 36px;
  align-items: flex-end;
  @media (max-width: 355px) {
    margin-top: 0;
  }
}

.main-page__title {
  width: 200px;
}

.main__content-wrapper {
  display: flex;
  justify-self: start;
  align-items: flex-start;
  column-gap: 43px;
}
.main__content {
  max-width: 250px;
}

// .main__picture {
//   // display: inline-block;
//   // margin-left: auto;
//   // margin-right: auto;
// }
.main__image {
  width: 100%;
  height: 100%;
}
.main__slider-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

///////////////////////////////About me////////////////////////////////////////

.about {
  padding: 60px 0;
  text-align: center;
}
.about__title {
  padding-bottom: 50px;
}
.about__cloud-section {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 650px;
  row-gap: 40px;
}
.about__cloud-message {
  border: solid 2.5px;
  padding: 15px;
  max-width: 500px;
}
.left-cloud-message,
.right-cloud-message {
  position: relative;
  &:before {
    border: 20px solid transparent;
    border-top-color: black;
    position: absolute;
    bottom: -41px;
    content: "";
  }
  &:after {
    border: 19px solid transparent;
    border-top-color: white;
    position: absolute;
    bottom: -37px;
    content: "";
  }
}
.left-cloud-message {
  position: relative;
  &:before {
    right: 25px;
  }
  &:after {
    right: 26px;
  }
}
.right-cloud-message {
  align-self: flex-end;
  position: relative;
  &:before {
    left: 25px;
  }
  &:after {
    left: 26px;
  }
}

/////////////////////////////////
@media (max-width: 680px) {
  .about__cloud-section {
    width: 100%;
  }
}
///////////////////////////////Skills////////////////////////////////////////
.skills {
  padding: 60px 0;
  text-align: center;
  align-content: center;
}
.skills__title {
  font-size: 34px;
  margin-bottom: 20px;
}
.skills__comment {
  font-size: 18px;
  margin-bottom: 50px;
}
.skills__rate-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  column-gap: 25px;
  row-gap: 40px;
  align-content: center;
}
.skills__rate-list-item {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills__progress-wrapper {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.skills__percent {
  font-weight: 14px;
  opacity: 0.5;
}
.skills__progress-bar {
  background-color: #e5e5e5;
  width: 142px;
  height: 9px;
  position: relative;
}
.skills__progress-bar-html,
.skills__progress-bar-css,
.skills__progress-bar-js,
.skills__progress-bar-git,
.skills__progress-bar-figma {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    background-color: black;
  }
}
.skills__progress-bar-html {
  &::after {
    width: 80%;
  }
}
.skills__progress-bar-css {
  &::after {
    width: 55%;
  }
}
.skills__progress-bar-js {
  &::after {
    width: 20%;
  }
}
.skills__progress-bar-git {
  &::after {
    width: 15%;
  }
}
.skills__progress-bar-figma {
  &::after {
    width: 20%;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .skills__rate-list-item {
    width: 147px;
  }
  .skills__progress-bar {
    background-color: #e5e5e5;
    width: 111px;
  }
  .skills__rate-list {
    column-gap: 20px;
  }
}
@media (max-width: 767px) {
  .skills__rate-list-item {
    width: 130px;
  }
  .skills__progress-bar {
    width: 94px;
  }
  .skills__rate-list {
    column-gap: 20px;
  }
}
///////////////////////////////Portfolio////////////////////////////////////////
.portfolio {
  padding: 60px 0;
  text-align: center;
  align-content: center;
  position: relative;
}
.portfolio__title {
  font-size: 34px;
  margin-bottom: 20px;
}
//////////////////////// Swiper/////////////////

.portfolio__slider {
  width: 100%;
  // height: 100%;
}
.portfolio__slider-wrapper {
  display: flex;
  // width: 100%;
}
.portfolio__slider-slide {
  text-align: center;
  font-size: 18px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.portfolio__slider-picture {
  width: 100%;
}
.portfolio__slider-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
// .swiper-pagination-numbers {
//   text-align: center;
// }
.swiper-button-left,
.swiper-button-right {
  width: 42px;
  height: 42px;
  background-size: contain;
  background-repeat: no-repeat;
}
.swiper-button-right {
  background-image: url("../img/icons/slider-right.png");
}
.swiper-button-left {
  background-image: url("../img/icons/slider-left.png");
}
.portfolio__swiper-wrapper {
  display: flex;
}
.portfolio__image {
  width: 100%;
  height: 100%;
}
.portfolio__description-wrapper {
  padding: 31px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  bottom: 0;
  // transform: translate(0 -30%);
  left: 0;
  right: 0;
  background-color: black;
  z-index: 2;
  opacity: 0.8;
}
.portfolio__desription-title {
  text-decoration: none;
  color: white;
  text-decoration: underline dashed;
  text-underline-position: under;
  margin-bottom: 15px;
}
.portfolio__description-text {
  color: white;
  max-width: 400px;
  font-size: 14px;
  line-height: 16px;
}
.portfolio__slider-navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.portfolio__slider-button-left,
.portfolio__slider-button-right {
  background: white;
  z-index: 10;
}
///////////////////////////////////////////////////////////////////////////
////////////////////////////////////INDEX end////////////////////////////
///////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////
////////////////////////////////////My blog start////////////////////////////
///////////////////////////////////////////////////////////////////////////

////////////////////////Секция с фильтрами/////////////////

.my-blog-page__title {
  margin-top: 100px;
  @media (max-width: 354px) {
    margin-top: 0px;
    max-width: 55%;
  }
}
.my-blog__filter {
  padding-bottom: 20px;
}
.filter__container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  row-gap: 30px;
  column-gap: 10px;
  margin-top: 40px;
  margin-bottom: 35px;
}
.filter__title {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 15px;
}
.filter__container label {
  font-size: 18px;
  line-height: 21px;
}
.filter__reset {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    align-items: flex-end;
    justify-content: flex-start;
  }
}
.filter__reset-button {
  opacity: 1;
}
.filter__submit {
  display: flex;
  column-gap: 30px;
  @media (max-width: 500px) {
    justify-content: end;
    flex-wrap: wrap;
    row-gap: 20px;
  }
}
.filter__search-field {
  width: 100%;
  max-width: 837px;
  height: 50px;
  border-width: 3px;
  border-color: black;
  opacity: 0.2;
  &:hover {
    opacity: 0.5;
  }
  &:focus {
    opacity: 1;
    border-color: black;
    outline: none;
  }
}
//////////////////////// Цветные checkbox/////////////////
.filter__color-checkbox-list {
  width: 116px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 5px;
}
.filter__blue-checkbox,
.filter__light-blue-checkbox,
.filter__yellow-checkbox,
.filter__marine-checkbox,
.filter__orange-checkbox,
.filter__pink-checkbox,
.filter__purple-checkbox,
.filter__green-checkbox {
  z-index: -1;
  opacity: 0;
}
.filter__blue-label,
.filter__light-blue-label,
.filter__yellow-label,
.filter__marine-label,
.filter__orange-label,
.filter__pink-label,
.filter__purple-label,
.filter__green-label {
  position: relative;
  margin: 0;
  &:before {
    content: "";
    position: absolute;
    top: -14px;
    left: -14px;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.filter__blue-label {
  &:before {
    background-image: url("../img/icons/checkbox-blue.png");
  }
}
.filter__light-blue-label {
  &:before {
    background-image: url("../img/icons/checkbox-light-blue.png");
  }
}
.filter__yellow-label {
  &:before {
    background-image: url("../img/icons/checkbox-yellow.png");
  }
}
.filter__marine-label {
  &:before {
    background-image: url("../img/icons/checkbox-marine.png");
  }
}
.filter__orange-label {
  &:before {
    background-image: url("../img/icons/checkbox-orange.png");
  }
}
.filter__pink-label {
  &:before {
    background-image: url("../img/icons/checkbox-pink.png");
  }
}
.filter__purple-label {
  &:before {
    background-image: url("../img/icons/checkbox-purple.png");
  }
}
.filter__green-label {
  &:before {
    background-image: url("../img/icons/checkbox-green.png");
  }
}

.filter__blue-checkbox:checked ~ .filter__blue-label {
  &:before {
    background-image: url("../img/icons/checkbox-blue-checked.png");
  }
}
.filter__light-blue-checkbox:checked ~ .filter__light-blue-label {
  &:before {
    background-image: url("../img/icons/checkbox-light-blue-checked.png");
  }
}
.filter__yellow-checkbox:checked ~ .filter__yellow-label {
  &:before {
    background-image: url("../img/icons/checkbox-yellow-checked.png");
  }
}
.filter__marine-checkbox:checked ~ .filter__marine-label {
  &:before {
    background-image: url("../img/icons/checkbox-marine-checked.png");
  }
}
.filter__orange-checkbox:checked ~ .filter__orange-label {
  &:before {
    background-image: url("../img/icons/checkbox-orange-checked.png");
  }
}
.filter__pink-checkbox:checked ~ .filter__pink-label {
  &:before {
    background-image: url("../img/icons/checkbox-pink-checked.png");
  }
}
.filter__purple-checkbox:checked ~ .filter__purple-label {
  &:before {
    background-image: url("../img/icons/checkbox-purple-checked.png");
  }
}
.filter__green-checkbox:checked ~ .filter__green-label {
  &:before {
    background-image: url("../img/icons/checkbox-green-checked.png");
  }
}

//////////////////////// Черные checkbox и radio/////////////////
.filter__views-list,
.filter__comments-list,
.filter__how-show-list,
.filter__sort-by-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.filter__views-min-checkbox,
.filter__views-middle-checkbox,
.filter__views-max-checkbox,
.filter__comments-min-checkbox,
.filter__comments-middle-checkbox,
.filter__comments-max-checkbox,
.filter__how-show-min-radio,
.filter__how-show-max-radio,
.filter__sort-by-date-radio,
.filter__sort-by-title-radio,
.filter__sort-by-views-radio {
  z-index: -1;
  opacity: 0;
  width: 25px;
}
.filter__views-min-label,
.filter__views-middle-label,
.filter__views-max-label,
.filter__how-show-min-label,
.filter__how-show-max-label,
.filter__sort-by-date-label,
.filter__sort-by-title-label,
.filter__sort-by-views-label {
  position: relative;
  margin: 0;
  &:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -30px;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/icons/radio.png");
  }
}
.filter__comments-min-label,
.filter__comments-middle-label,
.filter__comments-max-label {
  position: relative;
  margin: 0;
  &:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -30px;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/icons/checkbox.png");
  }
}
.filter__views-min-checkbox:checked ~ .filter__views-min-label,
.filter__views-middle-checkbox:checked ~ .filter__views-middle-label,
.filter__views-max-checkbox:checked ~ .filter__views-max-label,
.filter__how-show-min-radio:checked ~ .filter__how-show-min-label,
.filter__how-show-max-radio:checked ~ .filter__how-show-max-label,
.filter__sort-by-date-radio:checked ~ .filter__sort-by-date-label,
.filter__sort-by-title-radio:checked ~ .filter__sort-by-title-label,
.filter__sort-by-views-radio:checked ~ .filter__sort-by-views-label {
  &:before {
    background-image: url("../img/icons/radio-checked.png");
  }
}
.filter__comments-min-checkbox:checked ~ .filter__comments-min-label,
.filter__comments-middle-checkbox:checked ~ .filter__comments-middle-label,
.filter__comments-max-checkbox:checked ~ .filter__comments-max-label {
  &:before {
    background-image: url("../img/icons/checkbox-checked.png");
  }
}

//////////////////////// Медиа запросы для фильтров/////////////////

@media (min-width: 580px) and (max-width: 768px) {
  .filter__container {
    grid-template-columns: auto auto auto auto;
  }
}

@media (min-width: 579px) and (max-width: 768px) {
  .filter__tags-wrapper {
    grid-row: 2/3;
  }
  .filter__views-wrapper {
    grid-column: 2/3;
  }
  .filter__comments-wrapper {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .filter__sort-by-wrapper {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}
@media (max-width: 579px) {
  .filter__container {
    grid-template-columns: auto auto;
    row-gap: 25px;
  }
  .filter__tags-wrapper {
    grid-row: 3/4;
  }
  .filter__views-wrapper {
    grid-column: 2/3;
  }
  .filter__comments-wrapper {
    grid-row: 1/2;
  }
  .filter__sort-by-wrapper {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .filter__how-show-wrapper {
    grid-column: 2/3;
  }
}

//////////////////////// Секция со статьями/////////////////

.my-blog__card {
  display: flex;
  column-gap: 20px;
  padding-top: 20px;
  border-top: #e5e5e5 2px solid;
  padding-bottom: 20px;
  align-items: center;
  @media (max-width: 700px) {
    flex-direction: column;
  }
}
.my-blog__card-body {
  @media (max-width: 700px) {
    margin-top: 20px;
  }
}
.my-blog__card-img {
  width: 320px;
  @media (max-width: 700px) {
    width: 100%;
  }
}
.my-blog__card-tag-list {
  display: flex;
  column-gap: 5px;
  margin-bottom: 10px;
}
.my-blog__card-tag {
  width: 30px;
  height: 10px;
  border-radius: 10px;
}
.my-blog__card-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.my-blog__card-other {
  display: flex;
  column-gap: 10px;
  font-size: 14px;
  opacity: 0.5;
  margin-bottom: 15px;
}
.my-blog__card-text {
  margin-bottom: 20px;
}
.my-blog__card-post-link {
  font-size: 22 px;
  font-weight: 700;
  text-decoration: none;
  color: black;
  border-bottom: 2px dashed;
  padding-bottom: 3px;
  // outline: 3px;
}

//////////////////////// Pagination/////////////////
.my-blog__pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-blog__pagination_js {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.my-blog__link_js {
  opacity: 0.3;
}
.my-blog__pagination-active_js {
  color: black;
  font-weight: 700;
  opacity: 1;
}
.my-blog__slider-button-left,
.my-blog__slider-button-right {
  border: none;
  background: none;
}
.my-blog__slider-button-left:disabled,
.my-blog__slider-button-right:disabled {
  opacity: 0.2;
}

///////////////////////////////////////////////////////////////////////////
////////////////////////////////////My blog end////////////////////////////
///////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////
////////////////////////////////////My profile start////////////////////////////
///////////////////////////////////////////////////////////////////////////
.my-profile-page__title {
  margin-top: 128px;
  margin-bottom: 40px;
  @media (max-width: 354px) {
    margin-top: 0px;
    max-width: 60%;
  }
}
.my-profile__container {
  display: flex;
  column-gap: 105px;
}
.my-profile__picture {
  flex-shrink: 0;
  width: 330px;
  @media (max-width: 919px) {
    margin-left: auto;
    margin-right: auto;
    width: 290px;
  }
}
.my-profile__image {
  width: 100%;
}
.my-profile__data-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
  line-height: 22px;
}

.my-profile__data-wrapper {
  display: flex;
  column-gap: 15px;
}
.my-profile__password-btn {
  margin-top: 10px;
}
@media (min-width: 700px) and (max-width: 919px) {
  .my-profile__container {
    column-gap: 76px;
  }
}
@media (max-width: 699px) {
  .my-profile__container {
    flex-direction: column;
    row-gap: 40px;
  }
}

///////////////////////////////////////////////////////////////////////////
////////////////////////////////////My profile end////////////////////////////
///////////////////////////////////////////////////////////////////////////
