<div class="modal change-password-modal_js hidden-item">
  <form
    name="changePassword"
    class="change-password-modal__form modal__form"
    action="#"
  >
    <div class="modal__wrapper">
      <label for="change-password-old-field" class="modal__label"
        >Old password<span>*</span></label
      >
      <input
        type="password"
        id="change-password-old-field"
        class="modal__field"
        name="oldPassword"
      />
    </div>
    <div class="modal__wrapper">
      <label for="change-password-new-field" class="modal__label"
        >New password<span>*</span></label
      >
      <input
        type="password"
        id="change-password-new-field"
        class="modal__field"
        name="newPassword"
      />
    </div>
    <div class="modal__wrapper">
      <label for="change-password-repeat-field" class="modal__label"
        >Repeat new password<span>*</span></label
      >
      <input
        type="password"
        id="change-password-repeat-field"
        class="modal__field"
        name="repeatPassword"
      />
    </div>
    <button type="submit" class="button font-bold">Change password</button>
    <button
      type="button"
      class="close-button close-button-change-password_js"
    ></button>
  </form>
</div>
