<div class="modal change-other-modal_js hidden-item">
  <form
    name="changeOther"
    class="change-other-modal__form modal__form"
    action="#"
    novalidate
  >
    <div class="change-other-modal__email-wrapper">
      <label for="change-other-email-field" class="modal__label">Email</label>
      <input
        type="email"
        id="change-other-email-field"
        class="change-other-modal__field modal__field"
        name="email"
      />
    </div>
    <div class="change-other-modal__name-surname-wrapper">
      <div class="modal__wrapper">
        <label for="change-other-name-field" class="modal__label">Name</label>
        <input
          type="text"
          id="change-other-name-field"
          class="change-other-modal__field modal__field"
          name="name"
        />
      </div>
      <div class="modal__wrapper">
        <label for="change-other-surname-field" class="modal__label"
          >Surname</label
        >
        <input
          type="text"
          id="change-other-surname-field"
          class="change-other-modal__field modal__field"
          name="surname"
        />
      </div>
    </div>
    <div class="change-other-modal__location-age-wrapper">
      <div class="modal__wrapper">
        <label for="change-other-location-field" class="modal__label"
          >Location</label
        >
        <input
          type="text"
          id="change-other-location-field"
          class="change-other-modal__field modal__field"
          name="location"
        />
      </div>
      <div class="modal__wrapper">
        <label for="change-other-age-field" class="modal__label">Age</label>
        <input
          type="text"
          id="change-other-age-field"
          class="change-other-modal__field modal__field"
          name="age"
        />
      </div>
    </div>
    <div class="modal__wrapper change-other-modal__file-wrapper">
      <label
        for="change-other-file-field"
        class="modal__label change-other-modal__file-label"
        >Profile picture</label
      >
      <input
        type="file"
        id="change-other-file-field"
        class="change-other-modal__file-input change-other-modal__file-input_js"
        name="file"
      />
      <span
        class="change-other-modal__file-info change-other-modal__file-info_js"
        >Choose a file...</span
      >
    </div>

    <button
      type="submit"
      class="button font-bold change-other-modal__button change-other-modal__button_js"
    >
      Sign up
    </button>
    <button
      type="button"
      class="close-button change-other-modal__close-button close-button-change-other_js"
    ></button>
  </form>
</div>
