<footer class="footer font-medium page-container">
  <h2 class="footer__title font-bold">Contacts</h2>
  <div class="footer__commentary">
    <p>Want to know more or just chat?</p>
    <p>You are welcome!</p>
  </div>
  <button type="button" class="footer__button footer__button_js">
    Send message
  </button>
  <ul class="footer__link-list font-bold">
    <li class="footer__link-list-item">
      <a href="#" class="footer__link-button">Instagram</a>
    </li>
    <li class="footer__link-list-item">
      <a href="#" class="footer__link-button">Vk</a>
    </li>
    <li class="footer__link-list-item">
      <a href="#" class="footer__link-button">Telegram</a>
    </li>
    <li class="footer__link-list-item">
      <a href="#" class="footer__link-button">Mail</a>
    </li>
    <li class="footer__link-list-item">
      <a href="#" class="footer__link-button">GitHub</a>
    </li>
    <li class="footer__link-list-item">
      <a href="#" class="footer__link-button">Phone</a>
    </li>
  </ul>
  <div class="footer__notice">
    <p>Design by DL Academy</p>
    <p>Program code from Dmitry</p>
  </div>
</footer>
