<footer class="footer font-medium page-container">
  <h2 class="footer__title font-bold">Contacts</h2>
  <div class="footer__commentary">
    <p>Want to know more or just chat?</p>
    <p>You are welcome!</p>
  </div>
  <button type="button" class="footer__button footer__button_js">
    Send message
  </button>
  <ul class="footer__link-list font-bold">
    <li class="footer__link-list-item">Instagram</li>
    <li class="footer__link-list-item">Vk</li>
    <li class="footer__link-list-item">Telegram</li>
    <li class="footer__link-list-item">Mail</li>
    <li class="footer__link-list-item">GitHub</li>
    <li class="footer__link-list-item">Phone</li>
  </ul>
  <div class="footer__notice">
    <p>Design by DL Academy</p>
    <p>Program code from Antonina</p>
  </div>
</footer>
