<header class="header font-bold">
  <nav class="header__nav page-container">
    <a href="../../index.html" class="header__link header__home-active">Home</a>

    <div class="header__menu-wrapper">
      <a href="../../my-blog.html" class="header__link header__my-blog-active"
        >My blog</a
      >

      <button class="header__link header__button header__sign-in_js">
        Sign in
      </button>
      <button class="header__link header__button header__register_js">
        Register
      </button>
      <a
        href="../../my-profile.html"
        class="header__link header__my-profile-active"
        >My profile</a
      >
    </div>
  </nav>
</header>
