<div class="modal sign-in-modal_js hidden-item">
  <form name="login" class="sign-in-modal__form modal__form" action="#">
    <div class="sign-in-modal__field-wrapper">
      <label for="sign-in-email-field" class="sign-in-modal__label"
        >Email<span>*</span></label
      >
      <input
        type="text"
        id="sign-in-email-field"
        class="sign-in-modal__email modal__field"
        name="email"
      />
      <label for="sign-in-password-field" class="sign-in-modal__label"
        >Password<span>*</span></label
      >
      <input
        type="password"
        id="sign-in-password-field"
        class="sign-in-modal__password modal__field"
        name="password"
      />
    </div>
    <button type="submit" class="button font-bold">Log in</button>
    <button type="button" class="close-button close-button-login_js"></button>
  </form>
</div>
