<div class="sign-in-modal sign-in-modal_js hidden-item">
  <form class="sign-in-modal__form" action="#">
    <div class="sign-in-modal__field-wrapper">
      <label for="email-field" class="sign-in-modal__label"
        >Email<span>*</span></label
      >
      <input type="email" id="email-field" class="sign-in-modal__email" />
      <label for="password-field" class="sign-in-modal__label"
        >Password<span>*</span></label
      >
      <input
        type="password"
        id="password-field"
        class="sign-in-modal__password"
      />
    </div>
    <button type="button" class="button font-bold">Log in</button>
    <button type="button" class="close-button close-button-login_js"></button>
  </form>
</div>
