<div class="mobile-menu font-bold mobile-menu_js hidden-item">
  <button class="mobile-menu__close mobile-menu__close_js"></button>
  <nav class="mobile-menu__nav">
    <a href="../../index.html" class="mobile-menu__link header__home-active"
      >Home</a
    >
    <a
      href="../../my-blog.html"
      class="mobile-menu__link header__my-blog-active"
      >My blog</a
    >
    <button
      type="button"
      class="mobile-menu__link header__button mobile-menu-login-btn_js"
    >
      Sign in
    </button>
    <button
      type="button"
      class="mobile-menu__link header__button mobile-menu-register-btn_js"
    >
      Register
    </button>
    <a
      href="../../my-profile.html"
      class="mobile-menu__link mobile-menu__my-profile-active mobile-menu-profile-btn_js hidden-item"
      >My profile</a
    >
    <button
      type="button"
      class="mobile-menu__link header__button mobile-menu-logout-btn_js hidden-item"
    >
      Logout
    </button>
  </nav>
</div>
