<div class="modal register-modal_js hidden-item">
  <form name="signUp" class="register-modal__form modal__form" action="#">
    <div class="register-modal__email-wrapper">
      <label for="register-email-field" class="modal__label"
        >Email<span>*</span></label
      >
      <input
        type="text"
        id="register-email-field"
        class="register-modal__field modal__field"
        name="email"
      />
    </div>
    <div class="register-modal__name-surname-wrapper">
      <div class="modal__wrapper">
        <label for="register-name-field" class="modal__label"
          >Name<span>*</span></label
        >
        <input
          type="text"
          id="register-name-field"
          class="register-modal__field modal__field"
          name="name"
        />
      </div>
      <div class="modal__wrapper">
        <label for="register-surname-field" class="modal__label"
          >Surname<span>*</span></label
        >
        <input
          type="text"
          id="register-surname-field"
          class="register-modal__field modal__field"
          name="surname"
        />
      </div>
    </div>
    <div class="register-modal__password-repeat-wrapper">
      <div class="modal__wrapper">
        <label for="register-password-field" class="modal__label"
          >Password<span>*</span></label
        >
        <input
          type="password"
          id="register-password-field"
          class="register-modal__field modal__field"
          name="password"
        />
      </div>
      <div class="modal__wrapper">
        <label for="register-repeat-field" class="modal__label"
          >Repeat password<span>*</span></label
        >
        <input
          type="password"
          id="register-repeat-field"
          class="register-modal__field modal__field"
          name="passwordRepeat"
        />
      </div>
    </div>
    <div class="register-modal__location-age-wrapper">
      <div class="modal__wrapper">
        <label for="register-location-field" class="modal__label"
          >Location<span>*</span></label
        >
        <input
          type="text"
          id="register-location-field"
          class="register-modal__field modal__field"
          name="location"
        />
      </div>
      <div class="modal__wrapper">
        <label for="register-age-field" class="modal__label"
          >Age<span>*</span></label
        >
        <input
          type="text"
          id="register-age-field"
          class="register-modal__field modal__field"
          name="age"
        />
      </div>
    </div>
    <div class="register-modal__checkbox register-checkbox_js">
      <input
        type="checkbox"
        id="register-checkbox-field"
        class="checkbox"
        name="checkbox"
      />
      <label for="register-checkbox-field" class="checkbox__name"
        >Clicking on the button, you consent to the processing of your personal
        data.</label
      >
    </div>
    <button
      type="submit"
      class="button font-bold register-button_js"
      disabled="disabled"
    >
      Sign up
    </button>
    <button
      type="button"
      class="close-button register-modal__close-button close-button-register_js"
    ></button>
    <div class="register-loader_js loader hidden-item">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </form>
</div>
