<div class="send-message-modal font-medium send-message-modal_js hidden-item">
  <form class="send-message-modal__form" action="#">
    <div class="send-message-modal__email-wrapper">
      <label for="email-field" class="send-message-modal__label"
        >What is your name? *<span>*</span></label
      >
      <input type="email" id="email-field" class="send-message-modal__field" />
    </div>
    <div class="send-message-modal__name-surname-wrapper">
      <div class="send-message-modal__name-wrapper">
        <label for="name-field" class="send-message-modal__label"
          >Name<span>*</span></label
        >
        <input type="text" id="name-field" class="send-message-modal__field" />
      </div>
      <div class="send-message-modal__surname-wrapper">
        <label for="surname-field" class="send-message-modal__label"
          >Surname<span>*</span></label
        >
        <input
          type="text"
          id="surname-field"
          class="send-message-modal__field"
        />
      </div>
    </div>
    <div class="send-message-modal__password-repeat-wrapper">
      <div class="send-message-modal__password-wrapper">
        <label for="password-field" class="send-message-modal__label"
          >Password<span>*</span></label
        >
        <input
          type="password"
          id="password-field"
          class="send-message-modal__field"
        />
      </div>
      <div class="send-message-modal__repeat-wrapper">
        <label for="repeat-field" class="send-message-modal__label"
          >Repeat password<span>*</span></label
        >
        <input
          type="password"
          id="password-field"
          class="send-message-modal__field"
        />
      </div>
    </div>
    <div class="send-message-modal__location-age-wrapper">
      <div class="send-message-modal__location-wrapper">
        <label for="location-field" class="send-message-modal__label"
          >Location<span>*</span></label
        >
        <input
          type="text"
          id="location-field"
          class="send-message-modal__field"
        />
      </div>
      <div class="send-message-modal__age-wrapper">
        <label for="age-field" class="send-message-modal__label"
          >Age<span>*</span></label
        >
        <input type="text" id="age-field" class="send-message-modal__field" />
      </div>
    </div>
    <div class="send-message-modal__checkbox send-message-checkbox_js">
      <input type="checkbox" id="checkbox-field" class="checkbox" />
      <label for="checkbox-field" class="checkbox__name"
        >Clicking on the button, you consent to the processing of your personal
        data.</label
      >
    </div>
    <button type="button" class="button font-bold send-message-button_js">
      Sign up
    </button>
    <button
      type="button"
      class="close-button close-button-send-message_js"
    ></button>
  </form>
</div>
