<div class="modal font-medium send-message-modal_js hidden-item">
  <form
    class="send-message-modal__form modal__form"
    action="#"
    name="message"
    novalidate
  >
    <div class="send-message-modal__name-subject-wrapper">
      <div class="send-message-modal__name-wrapper modal__wrapper">
        <label for="send-message-name-field" class="modal__label"
          >What is your name?<span>*</span></label
        >
        <input
          type="text"
          id="send-message-name-field"
          class="modal__field"
          name="name"
          required
        />
      </div>
      <div class="send-message-modal__subject-wrapper modal__wrapper">
        <label for="send-message-subject-field" class="modal__label"
          >Message subject<span>*</span></label
        >
        <input
          type="text"
          id="send-message-subject-field"
          class="modal__field"
          name="subject"
          required
        />
      </div>
    </div>
    <div class="send-message-modal__email-phone-wrapper">
      <div class="send-message-modal__email-wrapper modal__wrapper">
        <label for="send-message-email-field" class="modal__label"
          >Your Email<span>*</span></label
        >
        <input
          type="text"
          id="send-message-email-field"
          class="modal__field"
          name="email"
          required
        />
      </div>
      <div class="send-message-modal__phone-wrapper modal__wrapper">
        <label for="send-message-phone-field" class="modal__label"
          >Your mobile phone<span>*</span></label
        >
        <input
          type="text"
          id="send-message-phone-field"
          class="modal__field"
          name="mobilePhone"
          required
        />
      </div>
    </div>
    <div class="send-message-modal__discuss-wrapper modal__wrapper">
      <label for="send-message-discuss-field" class="modal__label"
        >What do you want to discuss with me?</label
      >
      <input
        type="text"
        id="send-message-discuss-field"
        class="send-message-modal__discuss-field"
        name="message"
      />
    </div>
    <div class="send-message-modal__checkbox send-message-checkbox_js">
      <input
        type="checkbox"
        id="send-message-checkbox-field"
        class="checkbox"
        name="checkbox"
      />
      <label for="send-message-checkbox-field" class="checkbox__name"
        >Clicking on the button, you consent to the processing of your personal
        data.</label
      >
    </div>
    <button
      type="submit"
      class="button font-bold send-message-button_js"
      disabled="disabled"
    >
      Send
    </button>
    <button
      type="button"
      class="close-button send-message-modal__close-button close-button-send-message_js"
    ></button>
  </form>
  <!-- <div class="modal modal-after send-message-after-modal_js">
    <div class="modal-after-text-wrapper">
      <p class="modal-after-text send-message-modal-after-text">
        Form has been sent successfully
      </p>
      <button
        type="button"
        class="close-button modal-after-close-button send-message-after-close-button_js"
      ></button>
    </div>
  </div> -->
</div>
